{% extends 'base.html' %}


<!---->
{% block content %}


<div class="row">
    <div class="col-12 col-md-12 mb-3 mx-1">

        <div class="d-flex justify-content-between container">
            <div class="">
                <p class="font-italic h3">{{ event.title }}<small class="text-muted">, {{event.event_type}}</small></p>
                {% if event.cover %}
                <div class="">
                    <a href=""><img src="{{ event.cover.url }}" alt="..." width="auto" height="500px"
                                    class="cover-full"/></a>
                </div>
                {% endif %}


                <div class="d-flex justify-content-between">
                    {% if user.is_authenticated %}
                    {% if request.user == event.author %}
                    <div class="d-flex ">
                        <input type="submit" class="btn btn-warning btn-sm"
                               onclick="location.href='{% url 'update_event_post' event.id %}'" value="Update"/>
                        <input type="submit" class="btn btn-danger btn-sm"
                               onclick="location.href='{% url 'delete_event_post' event.id %}'" value="Delete"/>
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-start">
                        <form action="{% url 'join_event' %}" method="post">{% csrf_token %}
                            {% if is_joined %}
                            <button type="submit" class="btn btn-success" value="{{ event.pk }}"
                                    name="event_pk">
                                UnJoin
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-info" value="{{ event.pk }}" name="event_pk">
                                Join
                            </button>
                            {% endif %}
                            <span><a href="{% url 'members_list' event.pk %}">{{ event.join.all.count }}</a>/{{ event.members_number}}</span>
                        </form>
                    </div>
                    {% endif %}
                    <div class="">
                        <p class="font-italic">Hosted by: {{ event.host }}</p>
                    </div>
                </div>


                <hr>
                <div class="text-justify content-ml">
                    <p class=""><span class="font-weight-bold">Description:</span> {{ event.description }}</p>
                    <p><span class="font-weight-bold">Location:</span> {{event.location}}</p>
                    <p><span class="font-weight-bold">When:</span> {{ event.start_date}} - {{ event.end_date}}</p>
                    <p><span class="font-weight-bold">Time:</span> {{event.start_time}} - {{event.end_time}}</p>
                    <p><span class="font-weight-bold">Category:</span> {{event.category}}</p>
                </div>
            </div>
            <div class="">
                <p class="text-center">Maps</p>
                <div id="mapid" style="width: 400px; height: 400px;"></div>
            </div>
        </div>
        <hr>
        <div class="">
            <div class="text-center">
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary btn-comment" href="{% url 'add_comment' event.id %}">Add comment</a>
                {% endif %}
            </div>
            <br>

            <div class="container">
                {% for comment in event.comments.all %}

                {% if comment.approved_comment %}
                {% if request.user == comment.author %}
                <div class="" style="background-color: #eee;">
                    <div class="text-right ">
                        <a class="btn btn-danger btn-comment btn-sm"
                           href="{% url 'comment_remove' pk=comment.pk %}">x</a>
                        <a class="btn btn-success btn-comment btn-sm"
                           href="{% url 'comment_update' pk=comment.pk %}">U</a>
                    </div>
                    <p class="font-italic text-right text-secondary">{{ comment.created_date }}</p>
                    <p class="">{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% else %}
                <div class="" style="background-color: #eee;">
                    <p class="font-italic text-right text-secondary">{{ comment.created_date }}</p>
                    <p class="">{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% endif %}
                {% else %}
                {% if request.user == comment.author %}
                <div class="" style="background-color: #eee;">
                    <div class="text-right">
                        <a class="btn btn-danger btn-comment btn-sm"
                           href="{% url 'comment_remove' pk=comment.pk %}">x</a>
                        <a class="btn btn-warning btn-comment btn-sm"
                           href="{% url 'comment_approve' pk=comment.pk %}">✔</a>
                        <a class="btn btn-success btn-comment btn-sm"
                           href="{% url 'comment_update' pk=comment.pk %}">U</a>
                    </div>
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% endif %}
                {% endif %}
                {% empty %}
                <p>No comments</p>
                {% endfor %}
            </div>
        </div>

        <script>
            {% if event.coordinates_latitude and event.coordinates_longitude %}
            var mymap = L.map('mapid').setView([ {{ event.coordinates_latitude }}, {{ event.coordinates_longitude }}], 13);
            {% else %}
            var mymap = L.map('mapid').setView([ 59.437000, 24.753600], 13);
            {% endif %}
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
    {% if not event.coordinates_latitude and event.coordinates_longitude %}
    {% else %}
	L.marker([{{ event.coordinates_latitude }}, {{ event.coordinates_longitude }}]).addTo(mymap)
		.bindPopup("<b>{{event.location}}</b><br/>").openPopup();
    {% endif %}
        </script>
        {% endblock %}


