{% extends 'base.html' %}
{% load easy_maps_tags %}
<!---->
{% block content %}


<div class="row">
    <div class="col-12 col-md-12 mb-3 mx-1">
        <h4 class="font-italic">Detail: {{ event.title }}</h4>
        <div class="d-flex justify-content-between">
            <div>
                {% if event.cover %}
                <div class="">
                    <a href=""><img src="{{ event.cover.url }}" alt="..." width="auto" height="500px" class="cover-full"/></a>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <div class="col-12">
                    <div class="d-flex">
                        {% if request.user == event.author %}
                        <div class="d-flex ">
                            <input type="submit" class="btn btn-warning btn-sm"
                                   onclick="location.href='{% url 'update_event_post' event.id %}'" value="Update"/>
                            <input type="submit" class="btn btn-danger btn-sm"
                                   onclick="location.href='{% url 'delete_event_post' event.id %}'" value="Delete"/>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-start">
                            <form action="{% url 'join_event' %}" method="post">{% csrf_token %}
                                {% if is_joined %}
                                <button type="submit" class="btn btn-success" value="{{ event.pk }}" name="event_pk">
                                    UnJoin
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-info" value="{{ event.pk }}" name="event_pk">Join
                                </button>
                                {% endif %}
                                <span><a href="{% url 'members_list' event.pk %}">{{ event.join.all.count }}</a>/{{ event.members_number}}</span>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr>
                <div class="text-justify">
                    <p class="w-50"><span class="font-weight-bold">Description:</span> {{ event.description }}</p>
                    <p><span class="font-weight-bold">Type:</span> {{event.event_type}}</p>
                    <p><span class="font-weight-bold">Location:</span> {{event.location}}</p>
                    <p><span class="font-weight-bold">When:</span> from {{ event.start_date}} to {{ event.end_date}}</p>
                    <p><span class="font-weight-bold">Time:</span> from {{event.start_time}} to {{event.end_time}}</p>
                    <p><span class="font-weight-bold">Category:</span> {{event.category}}</p>
                    <p><span class="font-weight-bold">Host:</span> {{event.host}}</p>
                </div>
            </div>
            <div>
                {% easy_map "Russia, Ekaterinburg, Mira 32" 500 500 %}
                <p>Google Maps</p>
            </div>
        </div>
        <hr>


        <div class="">
            <div class="text-center">
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary btn-comment" href="{% url 'add_comment' event.id %}">Add comment</a>
                {% endif %}
            </div>
            <br>

            <div class="container">
                {% for comment in event.comments.all %}

                {% if comment.approved_comment %}
                {% if request.user == comment.author %}
                <div class="" style="background-color: #eee;">
                    <div class="text-right ">
                        <a class="btn btn-danger btn-comment btn-sm"
                           href="{% url 'comment_remove' pk=comment.pk %}">x</a>
                        <a class="btn btn-success btn-comment btn-sm"
                           href="{% url 'comment_update' pk=comment.pk %}">U</a>
                    </div>
                    <p class="font-italic text-right text-secondary">{{ comment.created_date }}</p>
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% else %}
                <div class="" style="background-color: #eee;">
                    <p class="font-italic text-right text-secondary">{{ comment.created_date }}</p>
                    <p class="">{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% endif %}
                {% else %}
                {% if request.user == comment.author %}
                <div class="" style="background-color: #eee;">
                    <div class="text-right">
                        <a class="btn btn-danger btn-comment btn-sm"
                           href="{% url 'comment_remove' pk=comment.pk %}">x</a>
                        <a class="btn btn-warning btn-comment btn-sm"
                           href="{% url 'comment_approve' pk=comment.pk %}">✔</a>
                        <a class="btn btn-success btn-comment btn-sm"
                           href="{% url 'comment_update' pk=comment.pk %}">U</a>
                    </div>
                    <p>{{ comment.text|safe|linebreaks }}</p>
                    <p class="font-italic text-right text-secondary">Author: {{ comment.author }}</p>
                </div>
                {% endif %}
                {% endif %}
                {% empty %}
                <p>No comments</p>
                {% endfor %}
            </div>
        </div>

        {% endblock %}


