<!--<li><a href="{% url 'event_detail' event_post.pk %}">{{ event_post.title }}</a></li>-->

<div class="col-12 col-md-4 col-sm-6">
    <div class="card bg-light h-100">
        {% if event_post.cover %}
        <div class="text-center">
            <a href="{% url 'event_detail' event_post.pk %}"><img src="{{ event_post.cover.url }}"
                                                                  class="card-img-top cover img-fluid"
                                                                  alt="..."/></a>
        </div>
        {% endif %}
        <div class="card-body ml-3">
            {% if not detail %}
            <h5 class="card-title"><a href="{% url 'event_detail' event_post.pk %}">{{ event_post.title }}</a></h5>
            {% endif %}
            <p class="card-text">
                {% if truncate %}
                <span class="font-weight-bold">Description:</span> {{ event_post.description|truncatechars:50 }}
                {% else %}
                Description: {{ event_post.description }}
                {% endif %}
            </p>
            <p class="card-text"><small class="text-muted">When: {{ event_post.start_date }} -
                {{event_post.end_date}}</small></p>
            <p class="card-text"><small class="text-muted">Time: {{ event_post.start_time }} -
                {{event_post.end_time}}</small></p>
            <p class="card-text">{{ event_post.author }}</p>
            <p class="card-text"><small class="text-muted">Where: {{ event_post.location }}</small></p>
            <p class="card-text"><small class="text-muted">Category: {{ event_post.category }}</small></p>
            {% if user.is_authenticated %}
            {% if event_post.join.all.count < event_post.members_number %}
            <form action="{% url 'join_event' %}" method="post">{% csrf_token %}
                <input type="hidden" name="event_pk" value="{{ event_post.pk }}">
                {% if user not in event_post.join.all %}
                <button type="submit" class="btn btn-info">Join</button>
                {% else %}
                <button type="submit" class="btn btn-success">UnJoin</button>
                {% endif %}
                <span><a href="{% url 'members_list' event_post.pk %}">{{ event_post.join.all.count }}</a>/{{ event_post.members_number}}</span>
            </form>
            {% elif event_post.join.all.count == event_post.members_number%}
            <form action="{% url 'join_event' %}" method="post">{% csrf_token %}
                <input type="hidden" name="event_pk" value="{{ event_post.pk }}">
                {% if user in event_post.join.all %}
                <button type="submit" class="btn btn-danger">UnJoin</button>
                {% endif %}
                <span><a href="{% url 'members_list' event_post.pk %}">{{ event_post.join.all.count }}</a>/{{ event_post.members_number}}</span>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>

</div>
