{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h3>{{ title }}</h3>

                <form class="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-warning" value="{{ name_button }}"/>
                </form>
            </div>
            <div class="">
                <img src="{{ event.cover.url }}" alt="..." class="cover-full"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}