<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{% block head_title %}{% endblock %}</title>

</head>
{% load static %}

<body>
{% include 'events/navbar.html' %}
<ul>
    {% if user.is_authenticated %}
    {% if user_profile.profile_pic %}
    <li>User: <img src="{{ user_profile.profile_pic.url }}" class="rounded" width="30px" height="auto"
                   alt="..."/> {{ user.get_username }}
    </li>
    {% else %}
    <li>User: {{ user.get_username }}</li>
    {% endif %}
    <li><a href="{% url 'my_list' %}" class="link-active">My events</a></li>
    <li><a href="{% url 'logout' %}?next={% url 'home' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}?next={% url 'home' %}">Login</a></li>
    {% endif %}

</ul>
<div class="container-fluid">

    {% block content %}


    {% endblock %}

</div>
{% include 'events/js.html' %}


</body>

</html>



