.cover {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.cover-full {
    width: 650px;
    height: 500px;
    object-fit: cover;
}

.cover-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.content-ml{
    width: 650px;
}

.full-ml{
    margin-left: 150px;
}

.maps-mr{
    margin-right: 150px;
    margin-top: 35px;
}

.col-md-4 {
  margin-top: 1em;
}

.content-width{
    width:500px;
    border: 1px sold red;
}

.nav-color{
    background-color: #B6E5D8;
}

.nav-mar-t{
    margin-top: 10px;
}